/*config*/

html,body {
	height: 100%;
	margin: 0;
	/*background-color: #ffeed6;*/

}

a {
	font-family: "Oswald", 'sans-serif';
}

p {
	font-family: "Lato", 'sans-serif';
	font-size: 16px;
	text-align: left;
	line-height: 30px;
	margin-top: 14px;
}

span {
	font-family: "Oswald", 'sans-serif';
	display: block;
	margin-top: 14px;
}

footer i,a {
	color: white;
	font-size: 18px;
	margin: 0px 8px;
}

nav ul>li>a {
	color: black ;
}

nav {
	background-color: white !important;
}

input[type='text'],input[type='email'],input[type='firstname'] {
	/*border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: black;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;*/
	border-color: transparent;
	width: 50%;
}



input:focus {
    outline:none;
}


@media (max-width: 768px) {
	.margin-top {
		margin-top: 50px;
	}


	
	.elvisMain:before {
		display:block;
		background: url("../img/elvis1_s.png"); 
		 -webkit-background-size: cover;
		 -moz-background-size: cover;
		 -o-background-size: cover;
		background-size: cover; 
		
		background-attachment: fixed ;
	 
	 	z-index: -1;
		position:absolute;
		width: 100%;
		height: 100vh;
		transform-origin: top left;
		transform:skewY(-4deg);
		background-color: white ;
		content:none;
		box-shadow: 0px 0px 1px;
	}

	input[type='text'],input[type='email'] {
		width: 100%;
	}

}

button  {
	margin-top: 14px;	
	width: 100px;
	background-color: #3f9cff;
	border-color: transparent;
	color: white !important;
	font-family: 'Oswald', 'serif' !important;
	font-size: 16px;
	text-transform: uppercase;
}


.thin {
 	font-weight: 300 !important;
  }

.thick {
	font-weight: 700 !important;
}

.center {
	margin: 0 auto;
	text-align: center;
/*	display: table-cell;
    vertical-align: middle;*/

}

.padding-0 {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.centerV {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-red {
	background-color: red;
}

.margin-top {
	margin-top: 100px !important;
}

.clientTitle {
	font-size: 32px;
	letter-spacing: 4px;
}

.logo {
	height: 50px;
	width: 50px;
	float: left;
}

.header {
	position: absolute;
	top: 1;
	z-index: 2;
	width: 100%;
	padding: 14px 14px;
}

.nav-list {
	padding: 0px 0px;
	
}

.nav-list li {
	display: inline;
	float: right;
	margin: 0px 10px;
	font-size: 20px;
	font-weight: 500;
	
}

.nav-list a {
	color: black !important;
	text-transform: uppercase;
	text-decoration: none;
}

.nav-list a:hover, .nav-list a:focus {
	animation: changecolor 0.2s linear forwards ;
	/*animation: draw 0.5s ease;*/
}


@keyframes changecolor {

	0% {
		color: black;
	}

	100% {

		 color: #3f9cff ;
	}

}

@-webkit-keyframes changecolor {

	0% {
		color: black;
	}


	100% {

		 color: #ff3f3f ;
	}

}




.elvisMain {
	display:block;
	height: 100%;
	width: 100%;
	min-height: 100px;
}


.elvisMain:before {
	display:block;
	background: url("../img/elvis1.png"); 
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	background-size: 100%;
	background-repeat: no-repeat; 
    background-position: center bottom;
	
	background-attachment:fixed; 
 
 	z-index: -1;
	position:absolute;

	transform-origin: top left;
	transform:skewY(-4deg);
	background-color: white ;
	content:'';
	box-shadow: 0px 0px 1px;
	
}



.buttonDown {
	/*border-radius: 50%;*/
	height: 35px;
	width: 35px;
	/*background-color: white;*/
	position: absolute;
	bottom: 25px;
	left: 50%;
 }

.bio {
	position: relative;
	z-index: 2;
}
/*quote*/

#quoteLogo {
	height: 80px;
	width: 80px;
	z-index: -1;
}


.quote {
	height: 100%;
	max-height: 552px;
	width: 100%;
	margin: 0 auto;
}

.quote:after {
	z-index: -1;
	position:absolute;
	width: 100%;
	height: 55%;
	transform-origin: 50% 50%;
	transform:skewY(15deg);
	background-color: #edf3ff ;
	content:'';
	/*box-shadow: 0px 0px 1px;*/
}

.quote span {
	font-family: 'Lato', 'sans-serif';
	color: #1b3468;
	display: block;
	font-size: 2em;
	font-weight: 300 ; 

}

#quoteLogo {
	width:100%;
}

.albumTitle {
	font-size: 28px;
	
}

#introductionPic {
	overflow: hidden;
	transition: .2s ease;

}

#introductionPic:focus,
#introductionPic:hover {
	transform: scale(1.2);
}



.clientTitle {
	line-height: 1.0;
}

.clientName span {
	margin-top: 14px;
}

#noberto {
	
	color: #ff3f3f;
}

#buddy {
	/*letter-spacing: 11px;*/
	color: gold;
}

#reyes {
/*	letter-spacing: 20px;*/
	color: #3f9cff;

}

#bio {
	height: 100%;
	max-height: 552PX;
}

.latestalbum {
/*	 transform: perspective( 600px ) rotateY( 15deg ) !important;
	 -webkit-transform: perspective( 600px ) rotateY( 15deg );
	 -o-transform: perspective( 600px ) rotateY( 15deg );*/
	 max-height: 500px;
	 max-width: 500px ;
}

.spotifyText {
	font-size: 20px;
}

.eventPicture {
	width: 100%;
	background-color: ;
}

/*event*/

.eventCon {
	height: 350px;
	background-color: gold ;
	margin-top: 0px;
	position: relative;
}

.eventPlace {
	position: relative;
}

.eventCon span {
	margin: 0 0 0 0;
	font-size: 36px;
}

.gLine {
	width: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffea32+3,e20000+49,0400ff+100 */
	background: #ffea32; /* Old browsers */
	background: -moz-linear-gradient(left, #ffea32 3%, #e20000 49%, #0400ff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ffea32 3%,#e20000 49%,#0400ff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ffea32 3%,#e20000 49%,#0400ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffea32', endColorstr='#0400ff',GradientType=1 ); /* IE6-9 */
	height: 1px;
}

.eventPicture {
	background-color: #b2b2b2;
	color: white;
}


.date {
	margin-bottom: 0px;
}

footer {
	background-color: #ff3f3f;
	width:  100%;
	height: 100%;
	max-height: 100px;
	padding:10px 10px;

}

footer a {
	color: white;
	font-family: 'Oswald', 'sans-serif';
}

.icons {
	margin-top: 15px;
	margin-bottom: 15px;
}


.reserved {
	/*position: relative;*/
	/*height: 55px;*/
	background: #f72e2e;
	/*margin-top: 50px;*/
	font-size: 12px;
	width: 100%;
	color: white;
	padding: 0px 5px;
	font-family: 'Oswald', 'serif';
}




.text-reserved {
	font-size: 12px;
	padding: 5px 5px 0px 0px;
	color: white;
	font-family: 'Oswald', 'sans-serif';
}

.slide {
	opacity: 0;
	transition: all .5s;
	position: relative;
}

.rightAlignA {
	transform: translate(30%) scale(0.95);
	-webkit-transform: translate(30%) scale(0.95);
}

.leftAlignA {
	transform: translate(-30%) scale(0.95);
	-webkit-transform: translate(-30%) scale(0.95);
}

.slide.active {
	opacity:1;
	transform: translateX(0%) scale(1);
	-webkit-transform: translateX(0%) scale(1); 
	transition: all 0.5s; 
}