
html,body {
	height: 100%;
	margin: 0;
}


.logo {
	height: 50px;
	width: 50px;
	float: left;
}

.nav-box {
	padding: 50px 100px;
	width: 100%;
	

}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.nav-list {
	padding: 0px 0px;
	
}

#elvis1 {
	position: absolute;
	top: 0px;
}

.nav-list li {
	display: inline;
	float: right;
	margin: 0px 15px;
	font-family: 'Oswald', 'sans-serif';
	font-size: 24px;
}

.elvisMain {
	height: 100%;
	width: 100%;
}



.elvisMain:before {

	background: url("../img/elvis1.png"); 
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	/*background-position: ;*/
    background-repeat: no-repeat;
    background-size: cover;
 
	position:absolute;
	width: 100%;
	height: 100%;
	transform-origin: top left;
	transform:skewY(-3deg);
	background-color: white ;
	content:'';
	box-shadow: 0px 0px 1px;
}


.buttonDown {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	position: absolute;
	bottom:   0px;
	left: 50%;
	background-color: white;
	border-width: 1px;
    border-style: red;
    
 }


.thin {
 	font-weight: 50;
 	font-size: 44px;
 	display: block;
 	text-align: center;
 }

.thick {
	font-weight: 800;
	font-size: 44px;
	display:block;
	text-align: center;
}

.clientTitle {
	line-height: 1.0;
}

.clientInfo-con {
	/*margin-top: 50%;*/

}

.clientDesc {
	font-size: 1em;
	text-align: justify;
	width: 500px;
	column-width: 300px;
	margin-left: auto;
	margin-right:auto;
	/*padding: 0px 145px;*/
	line-height: 1.6;
	padding: 15px 15px;
}

p {
	font-family: "Lato", 'sans-serif';
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#quote {
	height: 80px;
	width: 80px;
}

.quote p {
	font-family: 'Lato', 'sans-serif';
	font-size: 2em; 
	font-weight: 800;
}

.albumTitle {
	font-size: 28px;
	text-align:left;
}

.albumDesc {

	/*column-width: 450px;*/
	text-align: justify;

}

.clientName {
	font-size: 20px;
}

.margin-top {

	margin-top: 72px;

}


@media screen and (min-width: 764px) {
		.clientDesc {

		}
}
